@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #000, #242424, #000);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4afdfb;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #000, #242424, #000);
  border-radius: 10px;
}

.links {
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 18px 450px;
  backdrop-filter: blur(15px);
  box-shadow: inset 0 1px 40px 0 rgba(216, 216, 216, 0.05),
    inset 0 4px 18px 0 rgba(199, 199, 199, 0.05);
  user-select: none;
}

.links .theLink {
  color: #fff;
  font-family: "ABeeZee", sans-serif;
  transition: 0.5s;
}

.links .theLink:hover {
  color: #4afdfb;
  transition: 0.5s;
}

@media (min-width: 1490px) {
  .links {
    padding: 18px 600px;
  }
}

@media (max-width: 947px) {
  .links {
    padding: 0 !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .links .theLink {
    margin: 0px 18px;
  }
}
