@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap");

.both {
  display: flex;
  align-items: center;
  margin: auto 2%;
}

.left {
  float: left;
  width: 50%;
  height: 100%;
  padding: 20px;
  color: #fff;
  font-family: "ABeeZee", sans-serif;
}

.left .text1 {
  font-size: 30px;
}

.left .text2 {
  font-size: 65px;
}

.left .text3 {
  font-size: 40px;
  user-select: none;
}

.left .text3 span {
  color: #4afdfb;
  user-select: none;
}

.left .linkedinBtn {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 19px;
  margin: 17px 0px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(41px);
  backdrop-filter: blur(41px);
  box-shadow: inset 0 98px 100px -48px rgba(255, 255, 255, 0.1);
  user-select: none;
}

.left .linkedinBtn span {
  font-size: 25px;
  color: #fff;
}

.right {
  float: right;
  width: 50%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
}

.imgAndBlurAndIcons {
  position: relative;
  pointer-events: none;
}

.imgAndBlurAndIcons .img {
  width: 346px;
  height: 432px;
  object-fit: cover;
  border-radius: 70px;
  user-select: none;
  pointer-events: none;
}

.imgAndBlurAndIcons .blur {
  width: 346px;
  height: 432px;
  border-radius: 70px;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  box-shadow: inset 0 1px 40px 0 rgba(227, 222, 255, 0.2),
    inset 0 4px 18px 0 rgba(0, 0, 0, 0.3),
    inset 0 98px 100px -48px rgba(126, 126, 126, 0.3),
    inset 0 -82px 68px -64px rgba(140, 140, 140, 0.3);
  right: 230px;
  top: 50px;
  position: absolute;
  pointer-events: none;
}

.blurText {
  color: #fff;
  font-family: "Text Me One", sans-serif;
  font-size: 23px;
  margin: 41px;
  display: inline-block;
  user-select: none;
  pointer-events: none;
}

.blueStorm {
  position: relative;
  top: 60px;
  left: 170px;
  user-select: none;
  animation: move3Storm 15s linear infinite;
  pointer-events: none;
}

@keyframes move3Storm {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(35px, 0);
  }
  50% {
    transform: translate(35px, 35px);
  }
  75% {
    transform: translate(0, 35px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.greenStorm {
  position: relative;
  bottom: 34px;
  right: 212px;
  user-select: none;
  animation: moveStorm 15s linear infinite;
}

@keyframes moveStorm {
  0% {
    transform: rotate(0deg) translateX(35px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(35px) rotate(-360deg);
  }
}

.allThings {
  height: 50%;
  pointer-events: none;
}

.iconsDiv {
  display: flex;
  pointer-events: none;
}

.iconsDiv .iconsAi {
  width: 68px;
  height: 68px;
  background-color: rgba(217, 217, 217, 0.01);
  right: 76px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  top: 615px;
  backdrop-filter: blur(41px);
  box-shadow: inset 0 98px 100px -48px rgba(255, 255, 255, 0.1);
  user-select: none;
  pointer-events: none;
}

.iconsDiv .iconsCoding {
  width: 68px;
  height: 68px;
  background-color: rgba(217, 217, 217, 0.01);
  right: 176px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  top: 640px;
  backdrop-filter: blur(41px);
  box-shadow: inset 0 98px 100px -48px rgba(255, 255, 255, 0.1);
  user-select: none;
  pointer-events: none;
}

@media (min-width: 1490px) {
  .both {
    margin: auto 5%;
  }
  .iconsDiv .iconsAi {
    right: 123px;
  }
  .iconsDiv .iconsCoding {
    right: 225px;
  }
}

@media (max-width: 947px) {
  .both {
    flex-direction: column-reverse !important;
  }
  .right,
  .left {
    width: 100% !important;
    padding: 0 13px !important;
  }
  .imgAndBlurAndIcons {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: flex-end !important;
  }
  .left {
    margin-bottom: 80px!important;
    margin-top: 110px !important;
  }
  .right {
    justify-content: center!important;
  }
  .img {
    width: 233px !important;
    height: 292px !important;
  }
  .blur {
    width: 233px !important;
    height: 292px !important;
    right: initial !important;
    top: 126px !important;
    z-index: 22 !important;
  }
  .blurText {
    font-size: 28px !important;
  }
  .greenStorm,
  .blueStorm {
    width: 105px !important;
    height: 81px !important;
  }
  .blueStorm {
    top: 42px !important;
    left: 78px !important;
    animation: moveResStorm 15s linear infinite !important;
  }
  @keyframes moveResStorm {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(15px, 0);
    }
    50% {
      transform: translate(15px, 15px);
    }
    75% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .greenStorm {
    left: 135px !important;
    right: 0 !important;
    bottom: 0 !important;
    animation: moveRes4Storm 15s linear infinite !important;
  }
  @keyframes moveRes4Storm {
    0% {
      transform: rotate(0deg) translateX(15px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(15px) rotate(-360deg);
    }
  }
  .allThings {
    width: 365px!important;
  }
  .text1 {
    font-size: 22px !important;
  }
  .text2 {
    font-size: 38px !important;
  }
  .text3 {
    font-size: 24px !important;
  }
  .iconsCoding,
  .iconsAi {
    width: 60px !important;
    height: 60px !important;
    z-index: 32;
  }
  .iconsAi {
    top: 410px !important;
    right: 46px !important;
  }
  .iconsCoding {
    top: 480px !important;
    right: 46px !important;
  }
  .linkedinBtn {
    padding: 14px !important;
  }
  .linkedinBtn span {
    font-size: 18px !important;
  }
}
